// >> XL 1201
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    ._hero {

        ._hero_content {

            ._section_title {
                margin-top: 10rem;   
            }

            ._section_heading {
                font-size: 50px  !important;
            }

            ._section_lead {
                font-size: 16px;
                font-weight: 100;
            }   

            ._button_container {

                ._button {

                }
            }

            ._circle_logo_selo{

            }
        }
    }
}










// >> XL 1201
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    ._hero {
        background-position-x: -249px !important;

        &._about_page {
            background-position-x: -200px !important;

            ._about_heading {
                font-size: 55px;
            }
        }

        ._hero_content {

            ._section_title {
                margin-top: 10rem;
            }

            ._section_heading {
                font-size: 50px;
            }

            ._section_lead {
                font-size: 16px;
                font-weight: 100;
            }

            ._button_container {

                ._button {

                }
            }

            ._circle_logo_selo{

            }
        }
    }
}



// >> XL 1201
@media only screen and (min-width: 769px) and (max-width: 991px) {
    ._hero {

        &._about_page {
            background-position-x: -410px !important;
        }

        ._hero_content {

            ._section_title {
                margin-top: 10rem;
                font-size: 18px;
            }

            ._section_heading {
                font-size: 48px;
            }

            ._section_lead {
                font-size: 15px;
            }

            ._button_container {
                    margin-bottom: 4rem;
                ._button {

                }
            }

            ._circle_logo_selo{

            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    ._hero {
        background-position-x: -650px !important;

        &._about_page {
            background-position: -400px !important;
            
            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 14px !important;
            margin-bottom: 1rem;
        }

        ._section_heading {
            font-size: 38px !important;
            display: block !important;
        }

        ._section_lead {
            font-size: 12px !important;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 12px;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100px !important;
            }
        }
    }
}


@media only screen and (min-width: 501px) and (max-width: 600px) {
    ._hero {
        background-position-x: -740px !important;

        &._about_page {
            background-position: -460px !important;
            
            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 14px !important;
            margin-bottom: 1rem;
        }

        ._section_heading {
            font-size: 38px !important;
            display: block !important;
        }

        ._section_lead {
            font-size: 12px !important;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 12px;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100px !important;
            }
        }
    }
}


@media only screen and (min-width: 360px) and (max-width: 500px) {
    ._hero {
        background-position-x: -840px !important;

        &._about_page {
            background-position: -560px !important;
            
            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 14px !important;
            margin-bottom: 1rem;
        }

        ._section_heading {
            font-size: 38px !important;
            display: block !important;
        }

        ._section_lead {
            font-size: 12px !important;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 12px;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100px !important;
            }
        }
    }
}