._about {
    ._about_content {
        text-align: center;

        ._about_title {
            font-size: 20px;
            margin-bottom: 2rem;
            color: #6C6056;

            a  {
                color: #63574d;
                font-weight: 700;
            }
        }

        ._about_heading {
            font-size: 55px;
            margin-bottom: 2rem;
            font-family: "prata";
            line-height: 1.3;
            color: #2E2A28;
        }

        ._about_doctor {

            
            ._img_container {
                border-color: #BF9B7A;
            }

            ._about_context {


                ._name {
                    font-size: 32px;
                    font-family: "prata";
                    color: #2E2A28;
                }

                ._lead {
                    font-family: "poppins";
                    font-size: 18px;
                    color: #6C6056;
                }
            }
        }
    }
}