._marquee_section {
    height: 150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;


    ._marquee {
        position: absolute;


        &._marquee_top {
            top: 120px;
        }

        &._marquee_bottom {
            bottom: 100px;
        }


        ._marquee_content {
            font-size: 180px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transform: translateX(-250px);
            text-transform: uppercase;
            font-family: "prata";
            white-space: pre-wrap;

            span {
                flex-shrink: 0;
            }
        }

    }


    .wrapper_img {
        flex: 1;

        > ._container {
            padding: 0 !important;
        }


        .wrapper_img_card {
            height: 100vh;
            width: 100%;
            background-size: cover !important;
            transform: scale(1.2);

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;


            ._heading {
                font-size: 55px;
                color: #fff;
            }

            ._lead {
                font-size: 18px;
                color: #fff;
            }

            ._btn {
                display: inline-block;
                padding: 0.75rem 2.5rem;
                border: 1px solid;
                border-radius: 50px;
                color: #fff;
                text-transform: uppercase;
            }

        }
    }
}